form {
    border: 0px solid #f1f1f1;
}

body {
   
   background-color:#f4cb42;
}

input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 08px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button  {
    width: 20%;
    background-color: #000000;
    font-size: 12px;
    color: white;
    padding: 12px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 30%;
    
}

button:hover {
    opacity: 0.8;
}
.container {
    margin: 0 175px;
    padding: 16px;
}

/*.overall {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: px;
  margin: 15px auto 0;
  width: 300px;
  }
*/
